/* .header{
   position: fixed;
   min-width: 100%;
} */
.wrapper{
   background-color: #2A2A2A;
   padding: 15px 0px;
}
.hat{
   max-height: 82px;
   margin: 0 0 0 10px;
}

.search{
   position: relative;
   margin: 0 30px 0 0;
}
@media (max-width: 1200px) {
   .input{
      width: 355px;
   }
}
@media (min-width: 1400px) {
   .input{
      width: 655px;
   }
}
@media (min-width: 1600px) {
   .input{
      width: 855px;
   }
}
@media (min-width: 1800px) {
   .input{
      width: 1055px;
   }
}
.magnifier{
   position: absolute;
   content: '';
   top: 9px;
   right: 10px;
}
.telephone{
   margin: 5px 10px 0px 0px;
   max-width: 100%;
   max-height: 25.31px;
}
.telephoneNumber{
   margin: 7px 0 0 0px;
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   white-space: nowrap;
   color: #FFFFFF;
}
.personalAccount{
   background-color: #2A2A2A;
}
.shoppingCart{
   background-color: #2A2A2A;
   max-width: 100%;
   margin: 0 0 0 40px;
}
.fff{
   background-color:#2A2A2A;
   transform: translate(0,2px);
   color: #FFFFFF;
}
.searchingDropdown{
   width: 100%;
}
.searchingImage{
   width: 80px;
   height: 80px;
   margin-left: 10px;
}
.searchingCardInfo{
   margin-left: 30px;
   color: #2A2A2A;
}
.searchingCardName{
   font-size: 20px;
   font-weight: 700;
   color: #2A2A2A;
}
.searchingCardName:hover{
   color:#FB791B;
}
.searchingCardPrice{
   font-size: 17px;
   font-weight: 500;
   margin-top: 20px;
   color: #2A2A2A;
}
.input{
   width: 555px;
   min-height: 38px;
   border-radius: 9px;
   background-color:#f1f1f1;
   padding: 0 0 0 12px;
   font-size: 20px;
}
.searchingLinkAll{
   font-size: 17px;
   font-weight: 500;
   margin-top: 20px;
   color: #2A2A2A;
}
.searchingLinkAll:hover{
   color:#FB791B;
}
.adminButton{
   font-size: 26px;
   color: #FFFFFF;
   display: inline-block;
   transform: translate(0,5px);
   background-color: inherit;
}
.adminButton:hover{
   color:#FB791B;
}
.adminLink, .adminOut{
   font-size: 18px;
   padding: 10px;
   /* margin-bottom: 20px; */
   color: #2A2A2A;
}
.adminOut{
   /* margin-top: 10px; */
   margin: 10px 0 0 50px;
   background-color: inherit;
}
.adminLink:hover, .adminOut:hover{
   color: #FB791B;
}